- var lang = "cs";

- var title = "Meradog.cz";

- var metaDescription = "Oficiální zastoupení Meradog pro Českou a Slovenskou republiku";

- var metaKeywords = "meradog, krmivo pro psy, meracat, krmivo pro kočky, wahre liebe, granule, nakrmit, levné granule, nejlevnější krmivo, nejlepší krmivo, pes, kočka,Úvod ";

- var metaAuthor = "";

- var metaAuthorURL = "http://meradog.cz";

- var metaURL = "https://meradog.cz";

- var metaSitename = "meradog.cz";


- var URLbase = "";


- var metaTwitterName = "@meradog";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "meradog";

- var metaYoutubeName = "meradog";

- var metaInstagramName = "meradog";



- var ProductName = "Mera Essential Junior 1 lorem ipsum dolor sit amet";