doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug

        include partials/_modal-reklamace.pug
        include partials/_modal-info.pug
        .container
            .row
                .col-12.col-md-3
                    .navProducts__toggle Menu kategorií

                    .navProducts--absolute
                        include partials/_navProducts.pug

                .col-12.col-md-9    
                    include partials/_breadcrumb.pug

        section.o-pageHeading

            .container.o-pageHeading__container
                h1.o-pageHeading__title Kontakty

        main 
            .container
                .printArea
                    img(src=URLbase+"img/kontakty-obchod.jpg")

                    .row
                        .col-12.col-sm-12.col-md-6
                            .m-contactItem
                                h2.m-contactItem__title Kancelář a vzorková prodejna
                                .m-contactItem_content
                                    strong.m-contactItem__subtitle Adresa
                                    p.m-contactItem__text Mlýnská 369
                                    p.m-contactItem__text Bystřice pod Hostýnem

                                    strong.m-contactItem__subtitle Otevírací doba
                                    p.m-contactItem__text PO-PÁ 9:00-12:00 a 13:00-16:30


                        .col-12.col-sm-12.col-md-6
                            .m-contactItem
                                h2.m-contactItem__title O společnosti
                                .m-contactItem_content

                                    p.m-contactItem__text REMI GROUP  s.r.o.   
                                    p.m-contactItem__text Chlum 22
                                    p.m-contactItem__text 763 02 Zlín
                                    p.m-contactItem__text Česká republika

                                    p.m-contactItem__text IČO: 26932377
                                    p.m-contactItem__text DIČ: CZ26932377
                                    p.m-contactItem__text Registrace: Krajský soud v Brně, oddíl C, vložka 46455

                        .col-12.col-sm-12.col-md-6
                            .m-contactItem
                                h2.m-contactItem__title Kontaktujte nás na
                                .m-contactItem_content
                                    .m-questionsContact__contactWrap
                                        p.m-questionsContact__contact info@meradog.cz
                                    
                                        p.m-questionsContact__contact 606 311 796
                                    
                                        a(href="#").m-questionsContact__contact.-facebook #[span.a-icon.-facebook.-white]


                        .col-12.col-sm-12.col-md-6
                            .m-contactItem
                                h2.m-contactItem__title Rádi Vám pomůžeme s výběrem krmiva
                                .m-contactItem_content
                                    .m-questionsContact__contactWrap
                                        p.m-questionsContact__contact info@meradog.cz
                                    
                                        p.m-questionsContact__contact 606 311 796
                                    
         


                    h3 Informační oznámení o EET
                    p "Podle zákona o evidenci tržeb je prodávající povinen  vystavit  kupujícímu  účtenku.  Zároveň  je povinen zaevidovat přijatou  tržbu  u správce  daně  online;  v  případě  technického  výpadku  pak  nejpozději  do 48 hodin.", eviduje-li poplatník v daném pokladním místě tržby v běžném režimu.


        include partials/_footer.pug

        include partials/_js-include.pug