doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
        .container
            .row
                .col-12.col-lg-3.navMainCol    
                    include partials/_navProducts.pug

                .heroCol

                    section.o-pageHeading.-product
                        include partials/_breadcrumb-transparent.pug
                        .o-pageHeading__container
                            h1.o-pageHeading__title Vyhledávání pro: abcd

                    
                    main
    

                        .o-productPagination
                            .o-productPagination__resultNumber 1 - 30 z 322 produktů
                

                            include partials/_pagination.pug


                        .o-productGrid
                            - for (var i=0; i<20; i++)
                                include partials/_single-product-cell.pug


              

        include partials/_footer.pug

        include partials/_js-include.pug