.o-footer{
    background: $bg-light;
}

/* ========================================================================== */
/* FOOTER CONTACTS */
/* ========================================================================== */

.o-footerContacts{
    padding: 0;
    border-bottom: 1px solid $border-grey;
}
.o-footerContacts__col:first-child{
    border-right: 1px solid rgba(255,255,255,0.1);
}

.m-emailSubscribe{
    padding: 6rem 4rem 6rem 0;
}
.m-emailSubscribe__title{
    font-size: 2.2rem;
    font-weight: 500;
    color: $text-primary;
    margin-bottom: 2rem;
}
.m-emailSubscribe__text{
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.m-emailSubscribe__inputWrap{
    position: relative;
}
.m-emailSubscribe__input{
    height: 5.4rem;
    width: 100%;
    border-radius: 5.4rem;
}
.m-emailSubscribe__btn{
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    min-height: 5rem;
    height: auto;
    padding: 0 3rem;
}
.m-emailSubscribe__agree{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.m-emailSubscribe__inlineText{
    font-size: 14px;
    margin-left: 1rem;
    font-weight: 500;

    a{
        color: $text-primary;
        font-size: 14px;
        font-weight: 500;
    }
}

.m-emailSubscribe__check{
    opacity: 0;
    position: absolute;
}
.m-emailSubscribe__checkbox{
    display: block;
    height: 14px;
    width: 14px;
    background: $bg-white;
    border-radius: $border-radius-primary;
    position: relative;
    flex-shrink: 0;
}
.m-emailSubscribe__check:checked + .m-emailSubscribe__checkbox{
    background: $bg-brand-secondary;

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        right: 0;
        bottom: 0;
        left: 5px;
        width: 4px;
        height: 8px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

.m-questionsContact{
    padding: 6rem 0 6rem 4rem;
}
.m-questionsContact__title{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: $text-primary;
}
.m-questionsContact__contactWrap{
    display: flex;
}
.m-questionsContact__contact{
    font-size: 1.6rem;
    font-weight: 500;
    background: $bg-white;
    border-radius: 5.4rem;
    padding: 1.5rem 2rem;
    display: inline-block;
    margin: 0;
    margin-right: 10px;

    &.-facebook{
        background: $blue;
        border-radius: 50%;
        width: 5.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ========================================================================== */
/* FOOTER MAIN */
/* ========================================================================== */

.o-footerMain{
    padding-top: 2rem;
}
.o-footerMain__title{
    font-size: 2rem;
    font-weight: 700;
    color: $text-primary;
    margin-bottom: 1rem;
    margin-top: 4rem;
    padding-bottom: 1rem;
    position: relative;
    font-weight: 500;
}
.o-footerMain__link{
    color: $text-primary;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    line-height: 3.6rem;
    opacity: 0.7;

    &:hover, &:active, &:focus{
        color: $text-primary;
        text-decoration: underline;
        opacity: 1;
    }
}
.o-footerMain__text{
    color: $text-primary;
    display: block;
    font-size: 1.4rem; 
    line-height: 3.6rem;
    font-weight: 500;
    margin: 0;
}
@media screen and (max-width:768px){

}

@media screen and (max-width:500px){
    .o-footerMain{
        padding: 0;
    }
    .o-footerMain__title{
        margin-top: 2rem;
        font-size: 16px;
    }
    .o-footerMain__row{
        margin: 0 -5px;
        .col-6{
            padding: 0 5px;
            padding-bottom: 20px;
        }
    }
}