.o-navMain{
    background: $bg-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 72px;
    z-index: 5;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;

}
@media screen and (max-width:991px){
    .o-navMain{
        height: 56px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 6;
        box-shadow: $box-shadow-primary;
    }
}

.heroRow{
    flex-wrap: nowrap;
}
.navMainCol{
    width: 280px;
    padding-top: 50px;
    flex-shrink: 0;
    max-width: 100%;
    flex-basis: 280px;
}
.heroCol{
    flex-grow: 1;
    flex-basis: auto;
    width: 1px;
}
@media screen and (max-width:991px){
    .navMainCol{
        flex-basis: 0;
        width: 0;
        padding: 0;
    }
}
